RewriteEngine On
DirectoryIndex public/index.php

# Ne pas rediriger si le fichier ou le dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger tout le reste vers public/index.php
RewriteRule ^(.*)$ public/index.php [L]