@import "tailwindcss";

.text-red{
    color: #D71C10;
}

.oswald {
    font-family: "Oswald", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: normal ;
    font-style: normal ;
}

.oswald-bold {
    font-family: "Oswald", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: bold ;
    font-style: normal ;
}

.oswald-light {
    font-family: "Oswald", sans-serif ;
    font-optical-sizing: auto ;
    font-weight: lighter ;
    font-style: normal ;
}

button{
    cursor: pointer;
}

body{
    background-color: #f0f0f0;
}

.btn{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 4px;
    transition: background-color 0.2s ease;
}

.btn:hover{
    background-color: #D71C10;
}

.btn:active{
    background-color: black;
}